.notsamemonth{
    color:#808080;
}

.divDay{
    width:125px;
    height:150px;
    display:flex;
    border: 0.1px solid #363636;
    justify-content:flex-end;
    border-right-style:none;
    cursor: pointer;
}

.divWeek{
    display:flex;
    width:900px;
    height:150px;
    flex-direction:row;
}

.divWeek div:last-child{
    border-right-style:solid;
    background-color:#2b2b2b;
}
.divWeek div:first-child{
    background-color:#2b2b2b;
}

.divWeekdark{
    display:flex;
    width:900px;
    height:150px;
    flex-direction:row;
}
.divWeekdark div:last-child{
    border-right-style:solid;
    background-color:#c0c0c0;
}
.divWeekdark div:first-child{
    background-color:#c0c0c0;
}


.divWrapper{
    display:flex;
    height:900px;
    width:900px;
    flex-direction:column;
    margin-top:50px;
    padding-left:180px;
}

/* Header.js CSS 0000년 0월 + 지난달 화살표, 다음달 화살표 */
.main{
    display:flex;
    position:relative;
    padding-left:180px;
    margin-top: 30px;
    margin-bottom: -30px;
    width:880px;
    height:30px;
    margin-left:180px;
}

.main h5{
    font-size:16px;
    display:flex;
    margin-left:-150px;
}

.main_white{
    color:black;
}

.main_ArrowCss{
    position:absolute;
    display:flex;
    right:0;
    padding-right: -1000px;
}

